section{
    margin-left: auto;
    margin-right: auto;
    width: 7em
   
}
.grid {
    width: 300px;
    height: 300px;
    border-style: solid; 
    border-color: black;
    border-radius: 1px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 255, 234);
    
}

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-color: rgb(0, 33, 219);
    border-radius: 10px;
}
.shooter {
    background-color: rgb(15, 184, 57);
    border-radius: 5px;
}

.laser {
    background-color: rgb(255, 0, 0);
}

.boom{
    background-color: rgb(255, 217, 0);
}

.results{
    color:rgb(0, 255, 234);
    
}
body{
    background-image: url(https://www.raspberrypi.com/app/uploads/2019/03/invaders-1.jpg);
}